/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

time.updated {
	display: none;
}

body {
	margin-top: 59px;
}

a {
	color:#8C7C3D; 
	-webkit-transition: all 0.2s ease-in;
}

a:hover {
	color: #444;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe 

/* ==========================================================================
   @font-face
   ========================================================================== */
   
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/League_Gothic-webfont.eot');
    src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/League_Gothic-webfont.woff') format('woff'),
         url('fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;		
}

@font-face {
    font-family: 'ABChanelCoutureSemibold';
    src: url('fonts/abchanelcouture-semibold-webfont.eot');
    src: url('fonts/abchanelcouture-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/abchanelcouture-semibold-webfont.woff') format('woff'),
         url('fonts/abchanelcouture-semibold-webfont.ttf') format('truetype'),
         url('fonts/abchanelcouture-semibold-webfont.svg#ABChanelCoutureSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ABChanelCoutureRegular';
    src: url('fonts/abchanelcouture-regular-webfont.eot');
    src: url('fonts/abchanelcouture-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/abchanelcouture-regular-webfont.woff') format('woff'),
         url('fonts/abchanelcouture-regular-webfont.ttf') format('truetype'),
         url('fonts/abchanelcouture-regular-webfont.svg#ABChanelCoutureRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}   



/* body text */

@font-face {
  font-family: 'FreightText';
  src: url('../fonts/FreigTexProBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FreigTexProBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FreigTexProBold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/FreigTexProBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FreigTexProBold.svg#2d47676828a72ef468efe3a042ec24f6') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'FreightText';
  src: url('../fonts/FreigTexProBoldIt.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FreigTexProBoldIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FreigTexProBoldIt.woff') format('woff'), /* Modern Browsers */
       url('../fonts/FreigTexProBoldIt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FreigTexProBoldIt.svg#0981c7e4aac694eacf79da99cdbcab05') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'FreightText';
  src: url('../fonts/FreigTexProBook.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FreigTexProBook.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FreigTexProBook.woff') format('woff'), /* Modern Browsers */
       url('../fonts/FreigTexProBook.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FreigTexProBook.svg#567fec1ea62e7808c5a092cb9f4bb8eb') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'FreightText';
  src: url('../fonts/FreigTexProBookIt.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FreigTexProBookIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FreigTexProBookIt.woff') format('woff'), /* Modern Browsers */
       url('../fonts/FreigTexProBookIt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FreigTexProBookIt.svg#c8da8fd957572b328fb29fbc2fd39e49') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'FreightText';
  src: url('../fonts/FreigTexProLig.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FreigTexProLig.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FreigTexProLig.woff') format('woff'), /* Modern Browsers */
       url('../fonts/FreigTexProLig.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FreigTexProLig.svg#a2ecad1941d119bdbf6f75a3306b3167') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'FreightText';
  src: url('../fonts/FreigTexProLigIt.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FreigTexProLigIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FreigTexProLigIt.woff') format('woff'), /* Modern Browsers */
       url('../fonts/FreigTexProLigIt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FreigTexProLigIt.svg#1c770646f0c46913528b728bf2122316') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  200;
}
   
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* header */
header.global {
	background-color: #fff;
	color: #111;
	font-family: 'FreightText', Georgia, serif;
	font-size: 13px;
	text-transform: uppercase;
	height: 59px;
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
	zoom: 1;
	z-index: 99999;
	border-bottom: 1px solid rgba(0,0,0,0.4); 
	/* box-shadow: 0 0 50px rgba(0,0,0,0.4); */
	-webkit-transition: all 0.3s ease-out;
}

.admin-bar header.global {
	top: 31px;
}

header.global.navbar-hide {
	top: -50px;
}

.admin-bar header.global.navbar-hide  {
	top: -19px;
}

header.global h1 {
	left: 12px;
	position: absolute;
	text-indent: -9999px;
	font-style: italic;
	display: block;
	background: url(../img/logos/header-logo.png) 50% 50% no-repeat;
	height: 14px;
	width: 151px;
	top: 5px;
}

header.global ul.global {
	float: left;
	left: 50%;
	margin: 0 auto;
	padding: 22px 0 0 0;
	position: relative;
	text-align: center;
	zoom: 1;
}

header.global ul.global li {
	display: block;
	float: left;
	left: -50%;
	line-height: 1.2em;
	position: relative;
	padding-left: 10px;
}

header.global ul.share {
	position: absolute;
	right: 12px;
	top: 0px;
}

header.global ul.share li {
	display: block;
	float: left;
	height: 16px;
	margin-left: 10px;
}

header.global ul.share li a {
	color: #444;
}

/* mobile header */
header.global nav.visible-phone {
	position: absolute;
	top: 7px;
	right: 15px;
}

header.global nav.visible-phone select {
	width: 180px !important;
}

/* project header */
.project-header.scale-to-window {
	width: 100%;
	display: inline-block;
	height: auto !important;
	margin: 0;
	padding: 0;
	position: relative;
}
.project-header.scale-to-window.gallery:after {
	padding-top: 56.25%;
	content: ' ';
	display: block;
}
@media screen and (min-height: 630px) and (min-width: 894px) {
	.project-header.scale-to-window.video {
		max-height: 510px;
		overflow: hidden;
	}
	.project-header.scale-to-window.video .video-wrapper {
		max-height: 510px;
	}
	.project-header.scale-to-window.video .fluid-width-video-wrapper {
		padding-top: 56.25%;
		max-height: 510px;
		overflow: hidden;
	}
	.fluid-width-video-wrapper iframe {
		max-height: 510px;
	}
	
}
@media screen and (min-height: 870px) and (min-width: 1320px) {
	.project-header.scale-to-window.video {
		max-height: 750px;
		overflow: hidden;
	}
	.project-header.scale-to-window.video .video-wrapper {
		max-height: 750px;
	}
	.project-header.scale-to-window.video .fluid-width-video-wrapper {
		padding-top: 56.25%;
		max-height: 750px;
		overflow: hidden;
	}
	.fluid-width-video-wrapper iframe {
		max-height: 750px;
	}
}

/* ==========================================================================
   Carousel
   ========================================================================== */
.flex-control-nav.flex-control-paging {
	padding: 0;
	display: block;
	position: absolute;
	bottom: 0px;
	background-color: #F1F1F1;
	left: 50%;
	margin: 0;
}

.cover.slide.fade {
	display: none;
}

/* ==========================================================================
   Post Styles
   ========================================================================== */
.page {
	overflow: hidden;
	opacity: 1;
}

.post-slideshow {
	overflow: hidden;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
}

.post-slideshow .slide img {
	width: 100%;
	height: auto;
}

.post-title {
	background: #444;
	padding: 10px;
	color: #fff;
	width: 40%;
	position: absolute;
	z-index: 9999;
	right: 0;
	top: 55%;	
} 

.story-header {
	background: #222
}
.story-header:hover .post-title {
	opacity: 0.3;
}

.story-header .audio-wrapper iframe {
	width: 100%;
	height: auto;
}

.post-title .title-1 {
	font-family: PT sans, 'Old Standard TT', georgia;
	font-weight: 400;
	letter-spacing: -0.1em;
	font-size: 16px;
	margin: 0 15px;
	line-height: 1em;
}

.post-title .title-2 {
	font-size: 145%;
	margin: 0 15px;
	line-height: 1em;
}

.post-title .date {
	margin: 0 15px;
}

.post-title .title-meta a {
	color: #fff;
}

.flex-control-nav.flex-control-paging, .flex-direction-nav { display: none; }

@media screen and (min-aspect-ratio: 16/9) {
	.cover.slide.fade {
		height: calc(100%);
		text-align: center;
	}
	.post-slideshow .slide img {
		height: 100%;
		width: auto;
		margin: auto;
	}
}

.article { 
	margin-top: 0; 
	background: url('../img/bg-white-noise.jpeg');
	border-top: 1px solid rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}
.article .entry-title h1 {
	font: 4em/1em 'Old Standard TT', 'ABChanelCoutureSemibold', sans-serif;
	font-weight: bold;
	margin-bottom: 0px;
	letter-spacing: -0.1em;
	text-align: center;
}

article {
	z-index: 1;
	position: relative;
	padding-bottom: 100px;
	margin-top: 180px;
}

.article .content-sidebar {
	font-family: 'FreightText', Georgia, serif;
}

.article .content-sidebar .post-meta {
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	padding: 10px 5px 15px;
	margin-top: 100px;
	font-size: 14px;
}

.article .content-sidebar .social-media-menu ul {
	margin: 0;
	padding: 0;
}

.article .content-sidebar .social-media-menu ul li {
	overflow: hidden;
	position: relative;
}

.article .content-sidebar time {
	font-style: italic;
}

.article .description {
	font-size: 1rem;
	margin: 1rem 0;
	text-align: center;
}

.article .description p {
	line-height: 1;
	margin: 0;
}

.article .entry-meta {
	border-top: 1px solid #000; 
	border-bottom: 1px solid #000; 
	padding-top:2px; 
	padding-bottom:2px; 
	margin-bottom:5px;
	font-size: 14px !important;
}

.article .entry-meta p {
	margin:5px 0; 
	color:#333; 
	font-size:10px; 
	text-align:left;
	font-family: 'PT sans', sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.article .entry-content {
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "kern=1";
	-ms-font-feature-settings: "kern" 1;
	font-family: 'FreightText', Georgia, serif;

	font-weight: 400;
	font-size: 21px;
	letter-spacing: 0.01em;
	font-style: normal;
	line-height: 1.5;
}

.article .entry-content p {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.article .entry-content .lead {
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.3;
	margin: 0 auto 1rem;
}

.article .entry footer.author {
border-top: 1px solid #444;
border-bottom: 1px solid #444;
padding: 20px 0;
margin-top: 25px;
}

.article .entry footer h4 {
	font-family: 'PT sans', 'ABChanelCoutureRegular', sans-serif;
	margin: 0;
	font-weight: normal;
	font-size: 24px;
	text-transform: uppercase;
}

.article .entry footer p.info {
	margin:0 0 25px;
	font-size: 11px;
	font-style: italic;
}
.article .entry footer p {
	margin-top: 0;
	font-size: 12px;
}

article .entry footer h5 {
	margin-bottom: 0;
	text-transform: uppercase;
}

article .entry footer ul {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

@media (max-width: 767px) {
	.span10.offset1.entry {
		padding: 0 20px;
	}
	
	footer .span7.text {
		margin-top: 10px;
	}
}

/* ==========================================================================
 * CAPTION STYLES
 * ========================================================================== */
.aligncenter {
	margin: auto;
	text-align: center;
}

.wp-caption .wp-caption-text {
	font-style: italic;
	font-size: 16px;
	line-height: 1.5;
	color: rgba(0,0,0,0.8);
	outline: none;
	margin: 0.5rem 0;
} 


/* ==========================================================================
   Footer
   ========================================================================== */
#footer {
	font-family: 'PT sans', sans-serif;
}   
#footer .related {
	background-color: #252525;
	color: #A4A4A4;
	padding: 20px 0;
}
#footer .related h2.title {
	font-family: PT sans, 'Old Standard TT', georgia;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1em;
	margin: 0;
	
}
#footer .related .issue-date {
	margin-top: 5px;
	text-align: justify;
	color: white;
	font-size: 0.7em;
	display: block;
}
#footer .related a span.title {
	color: #8C7C3D;
	font-style: italic;
	font-family: georgia;
	font-size: 0.7em;
	font-weight: 400;
}
#footer .related span.description {
	display: block;
	font-size: 0.7em;
}

#footer .copy {
	padding: 10px 0;
	background: url('../img/bg-white-noise.jpeg');
	border-top: 1px solid rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
	font-size: 12px;
}

#footer .copy h1 {
	text-indent: -9999px;
	display: block;
	background: url(../img/logos/header-logo.png) 50% 50% no-repeat;
	height: 14px;
	width: 151px;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */


.text-center {
	text-align: center;
}   
   

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    .gallery.project-header.scale-to-window:after {
		padding-top: 56.25%;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




/* ===========================================================
 *
 *  Name:          selectordie.css
 *  Updated:       2014-04-27
 *  Created by:    Per V @ Vst.mn
 *  What?:         Base CSS for Select or Die
 *
 *  Copyright (c) 2014 Per Vestman
 *  Dual licensed under the MIT and GPL licenses.
 *
 *  No, I don't usually comment my CSS, but in this
 *  case it might "help" someone.
 *
 *  Beards, Rock & Loud Guns | Cogs 'n Kegs
 * =========================================================== */

/* Remove, change to fit your needs */
@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

.sod_select,
.sod_select *
    {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
    }

/* The SoD - Please keep this first three lines intact, otherwise all hell will break looooooose */
.sod_select
    {
        display: inline-block;
        position: relative;
        line-height: 1;

        width: 200px;
        padding: 15px 10px;
        border: 3px solid #5e5e5e;
        background: #ffffff;
        color: #444444;
        font-size: 11px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        outline: 0;
        outline-offset: -2px; /* Opera */
        cursor: default;
    }

    /* Up/Down arrows */
    .sod_select:before,
    .sod_select:after
        {
            content: "\25B2";
            position: absolute;
            right: 10px;
            top: 12px;
            font-size: 7px;
        }

        /* Down arrow */
        .sod_select:after
            {
                content: "\25BC";
                top: auto;
                bottom: 12px;
            }

    /* Change the border color on hover, focus and when open */
    .sod_select:hover,
    .sod_select.open,
    .sod_select.focus { border-color: #000000; }

        .sod_select.open { color: #919191; }
        .sod_select.focus { box-shadow: 0 0 5px rgba(0,0,0,.2); }

    /* When the entire SoD is disabled, go crazy! */
    .sod_select.disabled
        {
            border-color: #828282;
            color: #b2b2b2;
            cursor: not-allowed;
        }

    /* The "label", or whatever we should call it. Keep the first three lines for truncating. */
    .sod_select .sod_label
        {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            padding-right: 15px;
        }

        .sod_select .sod_prefix { /* Use this if you're using a prefix and want to style it */ }
        .sod_select .sod_placeholder { /* Use this if you're using a placeholder and want to style it */ }



    /* Options list wrapper */
    .sod_select .sod_list
        {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            height: auto;
            width: 200px;
            margin: 0 0 0 -3px;
            background: #ffffff;
            border: 3px solid #000000;
            border-top: none;
            color: #444444;
            font-weight: 300;
            z-index: 1;
        }

        /* Shows the option list (don't edit) */
        .sod_select.open .sod_list { display: block;  }

        /* Don't display the options when  */
        .sod_select.disabled.open .sod_list { display: none;  }

        /* When the option list is displayed above the SoD */
        .sod_select.above .sod_list
            {
                top: auto;
                bottom: 100%;
                border-top: 3px solid #000000;
                border-bottom: none;
            }

    /* Options list container */
    .sod_select .sod_list ul
        {
            overflow-y: auto;
            padding: 0;
            margin: 0;
        }

        /* All the options. Keep the first three lines for truncating... */
        .sod_select .sod_list li
            {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                position: relative;
                padding: 10px 10px;
                list-style-type: none;
            }

            /* Optgroups */
            .sod_select .sod_list .optgroup,
            .sod_select .sod_list .optgroup.disabled
                {
                    background: inherit;
                    color: #939393;
                    font-size: 10px;
                    font-style: italic;
                }

                /* Children of an optgroup */
                .sod_select .sod_list .groupchild { padding-left: 20px; }

            /* Disabled option */
            .sod_select .sod_list .disabled
                {
                    background: inherit;
                    color: #cccccc;
                }

            /* Hover state for options, also used when a user uses his/hers up/down keys */
            .sod_select .sod_list .active
                {
                    background: #f7f7f7;
                    color: #333333;
                }

            /*Make room for the check mark */
            .sod_select .sod_list .selected
                {
                    font-weight: 700;
                    padding-right: 25px;
                }

                /* Displays a check mark for the selected option */
                .sod_select .sod_list .selected:before
                    {
                        content: "";
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                                transform: translateY(-50%);
                        display: inline-block;
                        color: #808080;
                        height: 9px;
                        width: 10px;
                        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMTAgOSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAgOSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8cGF0aCBmaWxsPSIjRDlEOUQ4IiBkPSJNNCw2LjdDMy42LDYuMywzLjUsNi4xLDMuMSw1LjdDMi42LDUuMiwyLDQuNiwxLjUsNC4xYy0wLjgtMC44LTIsMC40LTEuMiwxLjJjMC45LDAuOSwxLjksMS45LDIuOCwyLjgNCgkJYzAuNywwLjcsMS4zLDEsMiwwQzYuNyw2LDguMywzLjcsOS44LDEuNUMxMC41LDAuNSw5LTAuMyw4LjMsMC42bDAsMEM2LjcsMi45LDUuNyw0LjQsNCw2LjciLz4NCjwvZz4NCjwvc3ZnPg0K);
                    }

                /* Add a .no_highlight class to you SoD to hide the check mark and don't bold the option */
                .sod_select.no_highlight .sod_list .selected { font-weight: 300; }
                .sod_select.no_highlight .sod_list .selected:before { display: none; }

            .sod_select .sod_list .link { /* If data-link is set on a specific option */ }
            .sod_select .sod_list .linkexternal { /* If data-link-external is set on a specific option */ }



    /* Hide native select */
    .sod_select select { display: none !important; }

        /* The native select in touch mode. Keep this first line. Sorry, keep everything. */
        .sod_select.touch select
            {
                -webkit-appearance: menulist-button;

                position: absolute;
                top: 0;
                left: 0;
                display: block !important;
                height: 100%;
                width: 100%;
                opacity: 0;
                z-index: 1;
            }